.caixa{
    background-color: #FFEAEA;
}

.titulo{
    color: #B4304A!important; 
    font-weight: "bold"!important;
}

.botao{
    border-color: white!important; 
    background-color: #FA5124!important; 
    color: white!important;
}

.postagens{
    background-color: white;
}